# Settings for server
# HOST=0.0.0.0 # docker
HOST=localhost
PORT=3001
ENV=development

# Settings for database
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=nest-api-lanlord
DATABASE_SYNCHRONIZE=false
DATABASE_AUTO_LOAD_ENTITIES=true
DATABASE_LOGGING=false
DATABASE_MIGRATIONS_TABLE_NAME=migrations
DATABASE_MIGRATIONS_RUN=false

# Settings for tenants databases
DATABASE_TENANTS_TYPE=mysql
DATABASE_TENANTS_HOST=localhost
DATABASE_TENANTS_PORT=3306
DATABASE_TENANTS_USERNAME=root
DATABASE_TENANTS_PASSWORD=

# Settings for prefix tenants variables
DATABASE_TENANTS_PREFIX=tenant_db_
DATABASE_USER_TENANTS_PREFIX=usr_
DATABASE_PASSWORD_TENANTS_PREFIX=pwd_

# Settings for user tenants
TENANT_SUPER_ADMIN_USER_DEFAULT_PASSWORD=Demo@2024

# Settings for JWT
JWT_SECRET=@FtZSI6IkphbHluOTQiLCJlbWFpbCI6ImVsc2VfZ2VyaG9sZ
JWT_EXPIRES_IN=4h

# Settings for user
USER_DEFAULT_PASSWORD=NestAPI@2023
SUPER_ADMIN_USER_DEFAULT_NAME=Super Admin
SUPER_ADMIN_USER_DEFAULT_EMAIL=super-admin@nest-api-template.com
SUPER_ADMIN_USER_DEFAULT_PASSWORD=NestAPISuperAdmin@2023

# Settings for cors
CORS_ORIGIN=http://localhost,http://192.168.1.10,http://127.0.0.1:5173
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
CORS_OPTIONS_SUCCESS_STATUS=204
CORS_CREDENTIALS=false
CORS_ALLOWED_HEADERS=Origin,X-Requested-With,Content-Type,Accept,Authorization
CORS_MAX_AGE=86400

# Settings for docker-compose
DOCKER_IMAGE_NAME=nest-api-template
DOCKER_IMAGE_TAG=1.0.0